table {
    border: 1px solid black;
}

table.derived-attributes {
    text-align: center;
}

table.derived-attributes td {
    width: 25%;
}

table.derived-attributes tbody td {
    border: 1px solid black;
    border-radius: 12px;
    font-family: cursive;
}

table.attributes td {
    font-size: 1.3em;
    font-weight: bold;
}

table.attributes td li {
  vertical-align: top;
}

#dicelist {
    position: relative;
}

#dicelist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: -30px;
    height: 42px;
}

td.dicecell {
    height: 42px;
    width: 206px;
}

#dice {
    left: 0;
    width: 204px;
    height: 40px;
    background: url('../img/dice_sprites.gif') 0 -41px;
}

#d4 {
    left: 0;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') 0 0;
}

#d4:hover {
    left: 0;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') 0 -82px;
}

#d6 {
    left: 41px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -41px 0;
}

#d6:hover {
    left: 41px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -41px -82px;
}

#d8 {
    left: 82px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -82px 0;
}

#d8:hover {
    left: 82px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -82px -82px;
}

#d10 {
    left: 123px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -123px 0;
}

#d10:hover {
    left: 123px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -123px -82px;
}

#d12 {
    left: 164px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -164px 0;
}

#d12:hover {
    left: 164px;
    width: 40px;
    height: 40px;
    background: url('../img/dice_sprites.gif') -164px -82px;
}

table.character tbody td.pencil {
    font-family: cursive;
}

