<section id="main">
  <a href="./#/characters"><- Back to characters list</a>
  <div class="main-content">
    <div class="character-derived-attributes">
      <table>
      <tr><td>Charisma:</td><td>{{character.attributes.charisma}}</td></tr>
      <tr><td>Pace:</td><td>{{character.attributes.pace}}</td></tr>
      <tr><td>Parry:</td><td>{{character.attributes.parry}}</td></tr>
      <tr><td>Toughness:</td><td>{{character.attributes.toughness}}</td></tr>
      </table>
    </div>
    <div class="character-attributes">
      <table class="attributes">
        <tr><td>Agility:</td><td><ul id="dicelist"><li id="dice"></li><li id={{character.attributes.agility}}></li></ul></td></tr>
        <tr><td>Smarts:</td><td><ul id="dicelist"><li id="dice"></li><li id={{character.attributes.smarts}}></li></ul></td></tr>
        <tr><td>Spirit:</td><td><ul id="dicelist"><li id="dice"></li><li id={{character.attributes.spirit}}></li></ul></td></tr>
        <tr><td>Strength:</td><td><ul id="dicelist"><li id="dice"></li><li id={{character.attributes.strength}}></li></ul></td></tr>
        <tr><td>Vigor:</td><td><ul id="dicelist"><li id="dice"></li><li id={{character.attributes.vigor}}></li></ul></td></tr>
      </table>
    </div>
    <div class="character-info">
      Name: {{character.name}}<br />
      Profession: {{character.profession}}<br/>
      Setting: {{character.setting}}<br/>
      Quote: {{character.quote}}<br/>
    </div>
    <table class="result-table">
      <thead>
        <tr><th colspan="5">Savage Worlds Character</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
        </tr>
        <tr ng-repeat="race in races">
          <td>{{race.round}}</td>
          <td>{{race.raceName}}</td>
          <td>{{race.Results[0].Constructor.name}}</td>
          <td>{{race.Results[0].grid}}</td>
          <td>{{race.Results[0].position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>